.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
  transition: background 0.4s ease, box-shadow 0.4s ease;
  z-index: 1000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
}

.navbar-solid {
  background: #cca287;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* Logo */
.navbar-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar-logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.logo-img {
  height: 60px;
  width: auto;
}

/* Links */
.navbar-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-links a {
  color: #ff6f00;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.logout-btn {
  background: none;
  border: none;
  color: #f1f1f1;
  cursor: pointer;
 font-weight: 700;
}

.logout-btn:hover {
  text-decoration: underline;
}

/* When scrolled (black navbar) */
.navbar-solid a {
  color: #f5f5f5; /* keep text white */
}
