.register-container {
  max-width: 400px;
  position:relative;
  top:130px;
  margin: auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}
input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
.error {
  color: red;
  font-size: 0.9rem;
}