.room-details {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
}

.room-image-details {
  width: 100%;
  height: 30%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.book-button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.error {
  position: relative;
  top: 200px;
  color: red;
  align-items: center;
}